name: Ufmt

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install black==23.3.0 usort==1.0.6 ufmt==2.1.0 libcst==1.0.1
    - name: Analyzing the code with ufmt
      run: |
        ufmt check .
